<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link href="/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<style>
	#portfolio{
		text-align:center;
	}
	.search {
    color: rgb(52, 73, 94);
    height: 42px;
    text-decoration: none solid rgb(52, 73, 94);
    text-size-adjust: 100%;
    width: 212.5px;
    column-rule-color: rgb(52, 73, 94);
    perspective-origin: 106.25px 21px;
    caret-color: rgb(52, 73, 94);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 2px solid rgb(189, 195, 199);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 400 normal 15px / 22.005px Lato, Helvetica, Arial, sans-serif;
    outline: rgb(52, 73, 94) none 0px;
    padding: 8px 12px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}/*#INPUT_1*/

.search:after {
    box-sizing: border-box;
    color: rgb(52, 73, 94);
    text-decoration: none solid rgb(52, 73, 94);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 73, 94);
    caret-color: rgb(52, 73, 94);
    border: 0px none rgb(52, 73, 94);
    font: normal normal 400 normal 15px / 22.005px Lato, Helvetica, Arial, sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}/*#INPUT_1:after*/

.search:before {
    box-sizing: border-box;
    color: rgb(52, 73, 94);
    text-decoration: none solid rgb(52, 73, 94);
    text-size-adjust: 100%;
    column-rule-color: rgb(52, 73, 94);
    caret-color: rgb(52, 73, 94);
    border: 0px none rgb(52, 73, 94);
    font: normal normal 400 normal 15px / 22.005px Lato, Helvetica, Arial, sans-serif;
    outline: rgb(52, 73, 94) none 0px;
}/*#INPUT_1:before*/

button {
	display: inline-block;
	 border: none;
	 padding: 1rem 2rem;
	 margin: 20px;
	 text-decoration: none;
	 background: #0069ed;
	 color: #ffffff;
	 font-family: sans-serif;
	 font-size: 1rem;
	 cursor: pointer;
	 text-align: center;
	 transition: background 250ms ease-in-out,
							 transform 150ms ease;
	 -webkit-appearance: none;
	 -moz-appearance: none;
}
button:focus {
  outline: none
}
.card{
	width: 400px;
	height: 230px;
	width: 50%;
 margin: 0 auto;
 padding: 20px;
 border-radius: 20px;
margin-top: 40px;
border: 1px solid #6C2A6A;
}

	</style>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-globe"></span>
				<h1><a href="/">PoliApp</a></h1>
				<span>hackUMBC 2018 </div>
			<div id="menu">
				<ul>
					<li><a href="/" accesskey="1" title="">Homepage</a></li>
					<li><a href="/about" accesskey="2" title=""> About</a></li>
					<li ><a href="/people" accesskey="3" title="">People</a></li>
					<li class="current_page_item"><a href="/bills" accesskey="4" title="">Bills </a></li>
					<li><a href="/events" accesskey="5" title="">Recent Events</a></li>
					<li><a href="/register" accesskey="6" title="">Registration </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Bills</h2>
			</div>
			<p>This page is dedicated towards grouping active bills in the U.S. Congress so you can track the actions of legislators</p>
		</div>
	</div>
	<div id="wrapper3">
		<div id="portfolio" class="container">

			<form method="post" action="/bills/search" style="margin-bottom: 20px;">
				<input class="search" type="text" name="keyword" placeholder="Search for bills...">
				<button type="submit">Search</button>
			</form>

			{{#bills}}
  <div class="card">
		<h3>{{short_title}}</h3>
		<div style="display: inline-flex; margin-top: 22px;">
		<span style="margin-right: 25px;"><b>Sponsor:</b> {{sponsor_name}}</span>
		 <span style="margin-right: 25px;"><b>Sponsor Party:</b> {{sponsor_party}}</span>
		<span><b>Status Active? </b> {{active}}</span>
	</div>
	<br />
	<p style="margin-top: 20px;">
{{congressdotgov_url}}
</p>
<p style="margin-top: 20px;">
	{{latest_major_action}}
</p>
	</div>
{{/bills}}
		</div>
	</div>
</div>
<div id="footer" class="container">

<div id="copyright" class="container">
	<p>A hack from hackUMBC 2018 | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	<p>Contact developers for any questions/requests</p>
</div>
</div>
</body>
</html>
