<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-globe"></span>
				<h1><a href="/">PoliApp</a></h1>
				<span>hackUMBC 2018 </div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="/about" accesskey="2" title=""> About</a></li>
					<li><a href="/people" accesskey="3" title="">People</a></li>
					<li><a href="/bills" accesskey="4" title="">Bills </a></li>
					<li><a href="/events" accesskey="5" title="">Recent Events</a></li>
					<li><a href="/register" accesskey="6" title="">Registration </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="wrapper2">
		<div id="welcome" class="container">
			<div class="title">
				<h2>What the heck is a government?!</h2>
			</div>
			<p>If for someone reason you live in a hole and don't know what a government is, a government is the governing body of a nation, state, or community.
				In the United States, we function as a democratic republic, where we elect representatives to voice our ideas on a higher level of organization. As
				a result, it is important that each and every person eligable to vote do so in order to maximize our efficiency as a nation.
			</p>
		</div>
	</div>
	<div id="wrapper3">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Voting Registration</h2>
				<span class="byline">A short list of tools and links</span> </div>
			<div class="column1">
				<div class="box">
					<span class="icon icon-user"></span>
					<h3>Register</h3>
					<p>Sign up and register to officially vote</p>
					<a href="https://www.usa.gov/register-to-vote#item-212645" class="button button-small">Register</a> </div>
			</div>
			<div class="column2">
				<div class="box">
					<span class="icon icon-lock"></span>
					<h3>Requirements</h3>
					<p>Information about who can and can't vote</p>
					<a href="https://www.usa.gov/register-to-vote#item-212447" class="button button-small">Requirements</a> </div>
			</div>
			<div class="column3">
				<div class="box">
					<span class="icon icon-calendar"></span>
					<h3>Deadlines</h3>
					<p>Dates and Deadlines for certain voting activities</p>
					<a href="#" class="button button-small">Deadlines</a> </div>
			</div>
			<div class="column4">
				<div class="box">
					<span class="icon icon-pencil"></span>
					<h3>Change Registration</h3>
					<p>Edit the details of your voter registration</p>
					<a href="https://www.usa.gov/register-to-vote#item-212825" class="button button-small">Change</a> </div>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="container">

<div id="copyright" class="container">
	<p>A hack from hackUMBC 2018 | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	<p>Contact developers for any questions/requests</p>
</div>
</div>
</body>
</html>
